*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;       
}

@font-face {
  font-family: Humming;
  src: url(./humming.otf);
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

body {
  background: radial-gradient(#4f9dff 0%, #a3ccff 50%, #5391dc 100%);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  min-height: 100vh;
  overflow-y: hidden;
}

.clock {
  position: fixed;
  top: 2vh;
  right: 2vw;
  font-family: "Humming";
  color: #3a331f;
  font-weight: 600;
  z-index: 997;
}

.month {
  position: absolute;
  top: 22px;
  left: 98px;
  font-size: 1rem;
  letter-spacing: 1.35rem;
}

.date {
  position: absolute;
  top: 22px;
  left: 181px;
  font-size: 1rem;
  letter-spacing: 1.35rem;
}

.hour {
  position: absolute;
  top: 67px;
  left: 28px;
  font-size: 1.5rem;
  letter-spacing: 2rem;
}

.minute {
  position: absolute;
  top: 67px;
  left: 139px;
  font-size: 1.5rem;
  letter-spacing: 2.1rem;
}

.ampm {
  position: absolute;
  top: 80px;
  left: 233px;
  font-size: .8rem;
}

.leaflogo {
  position: absolute;
  top: 17px;
  left: 43px;
  transition: ease-in-out .15s;
}

@keyframes moveCloud {
  0% {
    margin-left: -500px;
    opacity: 0; /* Start with opacity set to 0 */
  }
  3% {
    opacity: 1; /* Fade in during the first half of the animation */
  }
  100% {
    margin-left: 100%;
    opacity: 1; /* Keep opacity at 1 for the second half */
  }
}

.sky {
  position: fixed;
  top:0;
  height: 100vh;
  width: 100vw;
}

.moving-cloud {
  white-space: nowrap; 
  opacity: 0;
  /* border: 1px solid black; */
}

.cloud1 {
  position: absolute;
  bottom: -300px;
  animation: moveCloud 240s linear infinite; 
  animation-delay: 50s;
}

.cloud2 {
  position: absolute;
  top: -300px;
  animation: moveCloud 360s linear infinite; 
  animation-delay: 30s;
}

.cloud3 {
  position: absolute;
  top: 350px;
  animation: moveCloud 280s linear infinite; 
  animation-delay: 120s;
}

.cloud4 {
  position: absolute;
  top: 100px;
  animation: moveCloud 300s linear infinite; 
}

.rainbow {
  position: fixed;
  visibility: hidden;
  top: 400px;
  left: 150px;
  height: 250px;
  width: auto;
}

input[type="text"] {
  border: none;
  width: 225px;
  outline: none; 
  background: none;
  font-family: "Humming";
  font-size: 1rem;
  word-wrap: break-word;
  white-space: normal;
  margin-bottom: 10px;
  color: #3a331f;
}

input[type="checkbox"] {
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 3px;
  transition: background-color ease-in-out 0.15s; /* Add transition effect */
}

/* Style the checkmark */
input[type="checkbox"]:checked::before {
  content: "\2713"; /* Checkmark symbol */
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 20px;
  color: #fff9f7; /* Checkmark color */
  background-color: #3a331f; /* Background color when checked */
}

label {
  vertical-align: middle;
}


.todo {
  position: fixed;
  transition: transform 0.3s;
  transform: translate(-100%, 0);
  top: 20px;
  width: 250px;
  height: fit-content;
  background: #fff9f7;
  border-bottom-right-radius: 20px;
  padding: 15px;
  z-index: 997;
}


.todo button {
	background: #fff9f7;
  font-size: 1.5rem;
	padding: 0.5rem 1rem;
  color: #3a331f;
  border: none;
	border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
	position: absolute;
	top: 0px;
	left: 245px;
	cursor: pointer;
}

.expanded {
	transform: translate(0, 0);
}

.todo h1 {
  font-family: "Humming";
  font-size: 1rem;
  color: #3a331f;
}

ul {
  list-style-type: none;
  font-family: "Humming";
  font-size: .8rem;
  color: #3a331f;
}

.about {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  align-content: center;
  text-align: center;
  width: fit-content;
  height: fit-content;
  z-index: 998;
  animation: opacity .25s ease-in-out;
  font-family: "Humming";
  color: #fff9f7;
  /* border: 2px red solid; */
}

.about img {
  width: 500px;
}

.about a {
  text-decoration: none;
  font-family: "Humming";
  color: #d475a8;
}

.about:hover {
  cursor: pointer;
}

.text {
  position: absolute;
  left: 72px;
  top: 213px;
  width: 350px;
  /* border: 2px red solid; */
}

.text p{
  text-align: left;
  font-family: "Humming";
  color: #fff9f7;
  opacity: 90%;
  font-size: 1rem;
  word-wrap: break-word;
  white-space: normal;
}

@keyframes opacity {
  0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.question {
  position: fixed;
  bottom: 15px;
  right: 35px;
  font-family: "Humming";
  font-size: 1.25rem;
  color: #fff9f7;
  transition: ease-in-out .25s;
}

.question:hover {
  transform:scale(1.15);
  filter: drop-shadow(0px 0px 5px #fff9f7);
  cursor: pointer;
}

.landing {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(159, 159, 159, 0.223);
  backdrop-filter: blur(20px);
  z-index: 999;

  font-family: "Humming";
  font-size: 1rem;
  color: #fff9f7;
}

.maple {
  margin-bottom: 10px;
}

.play {
  margin-top: 25px;
}

.play img {
  transition: ease-in-out .25s;
}

.play img:hover{
  transform:scale(1.05);
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px #fff9f7);
}


@media only screen and (max-width: 600px) {
  .todo {
    top: 200px;
  }

  .about {
    /* Center horizontally */
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
  }

  .about img {
    width: 390px;
  }
  
  .text {
    left: 57px;
    top: 167px;
    width: 270px;
  }
  
  .text p{
    font-size: .75rem;
  }

  .rainbow {
    top: 400px;
    left: 150px;
    height: 100px;
  }
}